 

.container{
    text-align:center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 5px solid gold;
    border-radius: 21px;
    height: 50px;
    width: 310px;
    padding-left: 20px;
    outline: none;
    margin-bottom: 10px;
    background: white;
}
button {
    font-size: 30px;
    background: white;
    width: 83px;
    height: 65px;
    border-radius: 20px;
    outline: none;
    border: 1px solid gold;
    color: gold;
}
.calculator{
    display: inline-block;
    background: white;
    padding: 20px;
    border-radius: 40px;
    border: 5px solid gold;
    box-shadow:gold 2px 3px 20px;
    
}
/* button hover */
button:hover{
 border:3px solid mediumseagreen;
 color: mediumseagreen ;
 font-size: 50px;
}
h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}